*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Martel-Regular";
    src: url(../Fonts/Martel-Regular.ttf);
    font-family: "Martel-Light";
    src: url(../Fonts/Martel-ExtraLight.ttf)
} 