.formulario div { 
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: $rosaClaro;
}

.tabla__tienda{
    background-color: $rosaClaro;
    margin: 1%;
    color: $verde;
}

.tabla__caption{
    font-style: italic;
    font-size: small;
    color: $rosaOscuro;
    text-align: center;
}