body{
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Martel-Regular";
    line-height: 1.8;
    background-color: $amarillo;
    color: $verde;
        h1 {
            font-size: 20px;
        }
        h2 {
            font-size: 15px;
        }
}

.margin {
    margin-top: 20px;
}

h1{
    font-weight: bold;
}

iframe {
    width: 300px;
    height: 200px;
}